body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(223, 223, 223);
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu-deroulant {
    text-align: center;
}

#menu-deroulant li {
    display: inline-block;
    color:rgb(107, 107, 107);
}

#menu-deroulant ul li {
    display: inherit;
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
}

#menu-deroulant ul a {
    font-size: 12px;
}

#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
    color: rgb(162, 162, 162);
    background: rgb(19, 19, 19);
}

#menu-deroulant li:hover ul {
    left: auto;
}

#menu-deroulant ul a:hover {
    background-color: rgb(46, 46, 46);
}

.header__logoLink {
    background: url(https://a-v2.sndcdn.com/assets/images/header/cloud-e365a47.png) no-repeat 12px 11px;
    background-size: 48px 22px;
    display: block;
    height: 46px;
    width: 69px;
}

.header__logo {
    background: #f50;
    background: linear-gradient(#f70,#f30);
    width: 69px;
}


.menu_flex * {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.menu_flex {
    padding: 0;
    list-style:none;
    display:flex;
    align-items:center;
    background: rgb(46, 46, 46);
    justify-content: space-around;
    margin-top: 0;
    flex-flow:row nowrap;
    justify-content:space-start;
    position: fixed;
    left:0;
    right:0;
    min-width: 1200px;
    z-index: 1000;
}
.menu_flex li {
    display: block;
}

.menu_flex li a {
    line-height:40px;
    padding:0 5px;
    display:flex;
    justify-content:center;
    font-size: 14px;
    text-decoration:none;
    color:rgb(162, 162, 162);
}

.menu_flex a:hover, .menu_flex a:focus {
    color: white;
}

.menu_right {
    margin-top: -53px;
}

.menu-deroulant a:hover, .menu-deroulant a:focus {
    background: rgb(46, 46, 46);
}

.formulaire {
    display:block;
    width: 100%;
}

#search {
    flex-grow: 1;
    max-width: 450px;
}

.formulaire .champ  {
    width: 100%;
    height: 28px;
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
    border-style: none;
    color: rgb(162, 162, 162);
}

.menu_2 * {
    display: inline-block;
    list-style: none;
    color: black;
    text-decoration: none;
    align-items: right;
    font-size: 24px;
    justify-content: center;
    width: 100px;
}

.menu_2 {
    width: 400px;
    padding-top: 80px;
}

.menu_2 a:hover, .menu_2 a:focus {
    color: orangered;
    border-bottom: 1px solid orangered;
}

.list * {
    margin-top: 15px;
}


.list {
    width: 1000px;
    height: 900px;
    border-top: 1px solid rgba(172, 172, 172, 0.35);
}

.suggestion * {
    display: block;
    height: 80px;
}

.suggestion {
    width: 290px;
    border-top: 1px solid rgba(172, 172, 172, 0.35);
}

.container {
    display: inline-block;
    margin-left: 45px;
    background-color: #ffffff;
    margin-top: -15px;
}

.favoris * {
    display: block;
    height: 80px;
}

.favoris {
    border-top: 1px solid rgba(172, 172, 172, 0.35);
    width: 290px;
}

.history * {
    display: block;
    height: 80px;
}

.history {
    border-top: 1px solid rgba(172, 172, 172, 0.35);
    width: 290px;
}

.container_sub {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 1400px;
}

.link_music {
    width: 900px;
    height: 200px;
    display: flex;
}

h1 {
    font-size: 18px;
    color: rgb(162, 162, 162);
    font-weight: 200;
}

h2 {
    font-size: 14px;
    color: rgb(162, 162, 162);
    display: inline-block;
    font-weight: 200;
}

h3 {
    font-size: 14px;
    color: rgb(162, 162, 162);
    display: inline-block;
    padding-left: 120px;
}

h4 {
    font-size: 14px;
    color: rgb(162, 162, 162);
    display: inline-block;
    padding-left: 100px;
    font-weight: 200;
}

h5 {
    font-size: 14px;
    color: rgb(162, 162, 162);
    display: inline-block;
    padding-left: 100px;
    font-weight: 200;
}

h6 {
    font-size: 14px;
    color: rgb(162, 162, 162);
    display: inline-block;
    padding-left: 40px;
    font-weight: 200;
}

h7 {
    font-size: 16px;
    color: black;
    display: inline-block;
}

h4 a {
    text-decoration: none;
    color: rgb(162, 162, 162);
}

h3 a {
    text-decoration: none;
    color: rgb(162, 162, 162);
}

h5 a {
    text-decoration: none;
    color: rgb(162, 162, 162);
}

h6 a {
    text-decoration: none;
    color: rgb(162, 162, 162);
}

h3 a:hover, h3 a:focus, h4 a:focus, h4:hover {
    color: rgb(162, 162, 162);
}

.profile {
    width: 26px;
    height: 26px;
    opacity: 1;
    border-radius: 10px;
    vertical-align: middle;
}

.suscriber {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -40px;
    margin-left: 60px;
}

.title {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -15px;
    margin-left: 110px;
}

.suggestion a {
    position: relative;
    bottom: 45px;
    left: 60px;
    color: rgb(107, 107, 107);
    list-style: none;
    text-decoration: none;
    width: 75px;
    height: 14px;
    font-size: 14px;
}

.link_suggestion {
    display: inline-block;
    background-image: url("https://i1.sndcdn.com/avatars-000345162517-r88xcc-t50x50.jpg");
    width: 50px;
    height: 50px;
    opacity: 1;
    border-radius: 30px;
}

.link_suggestion2 {
    display: inline-block;
    background-image: url("https://i1.sndcdn.com/avatars-000290630022-xh5ur0-t50x50.jpg");
    width: 50px;
    height: 50px;
    opacity: 1;
    border-radius: 30px;
    margin-top: 15px;
}

.link_suggestion3 {
    display: inline-block;
    background-image: url("https://i1.sndcdn.com/avatars-000171822700-l7hbys-t50x50.jpg");
    width: 50px;
    height: 50px;
    opacity: 1;
    border-radius: 30px;
    margin-top: 15px;
}

.link_favoris {
    display: inline-block;
    background-image: url("https://i1.sndcdn.com/artworks-000064423350-z770oc-t50x50.jpg");
    width: 50px;
    height: 50px;
    opacity: 1;
    margin-top: 0px;
}

.link_favoris2 {
    display: inline-block;
    background-image: url("https://i1.sndcdn.com/artworks-000249517077-s92br7-t50x50.jpg");
    width: 50px;
    height: 50px;
    opacity: 1;
}

.link_favoris3 {
    display: inline-block;
    background-image: url("https://i1.sndcdn.com/artworks-000243966254-dpu6pe-t50x50.jpg");
    width: 50px;
    height: 50px;
    opacity: 1;
}

.favoris a {
    position: relative;
    bottom: 45px;
    left: 60px;
    color: rgb(107, 107, 107);
    list-style: none;
    text-decoration: none;
    width: 200px;
    height: 14px;
    font-size: 14px;
}

.link_history {
    display: inline-block;
    background-image: url("https://i1.sndcdn.com/artworks-000249967234-8gfg0h-t50x50.jpg");
    width: 50px;
    height: 50px;
    opacity: 1;
}

.link_history2 {
    display: inline-block;
    background-image: url("https://i1.sndcdn.com/artworks-000244914656-4moqj8-t50x50.jpg");
    width: 50px;
    height: 50px;
    opacity: 1;
}

.link_history3 {
    display: inline-block;
    background-image: url("https://i1.sndcdn.com/artworks-000246270155-4tpt21-t50x50.jpg");
    width: 50px;
    height: 50px;
    opacity: 1;
}

.history a {
    position: relative;
    bottom: 45px;
    left: 60px;
    color: rgb(107, 107, 107);
    list-style: none;
    text-decoration: none;
    width: 200px;
    height: 14px;
    font-size: 14px;
}

.pa {
    color: rgb(46, 46, 46);
    font-size: 14px;
    height: 20px;
}

.link_music .pa {
    margin-top: 2px;
}

.link_music a {
    text-decoration: none;
    color: rgb(107, 107, 107);
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 12px;
}

.link_music img {
    display: block;
    margin-top: 22px;
    margin-left: 15px;
    width: 150px;
    height: 150px;
}

.list .annonce {
    font-size: 12px;
    margin-top: -20px;
    margin-left: 50px;
}

.list .annon {
    width: 26px;
    height: 26px;
    opacity: 1;
    border-radius: 10px;
    margin-left: 10px;
}

.list .sound1 {
    margin-top: 65px;
    margin-left: -190px;
    width: 650px;
    height: 90px;
    display: inline-block;
}

.list .sound2 {
    margin-top: 65px;
    margin-left: -180px;
    width: 650px;
    height: 90px;
    display: inline-block;
}

.list .sound3 {
    margin-top: 65px;
    margin-left: -213px;
    width: 650px;
    height: 90px;
    display: inline-block;
}

.list .sound4 {
    margin-top: 65px;
    margin-left: -179px;
    width: 650px;
    height: 90px;
    display: inline-block;
}

img {
    margin-bottom: -3px;
}

.list .likes {
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-top: 154px;
    margin-left: -650px;
    border: 1px solid rgba(143, 143, 143, 0.268);
    border-radius: 3px;
}

.likes:hover {
    border: 1px solid rgba(0, 0, 0, 0.384);
}

.list .repost {
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-top: 154px;
    margin-left: 5px;
    border: 1px solid rgba(143, 143, 143, 0.268);
    border-radius: 3px;
}

.repost:hover {
    border: 1px solid rgba(0, 0, 0, 0.384);
}

.list .share {
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-top: 154px;
    margin-left: 5px;
    border: 1px solid rgba(143, 143, 143, 0.268);
    border-radius: 3px;
}

.share:hover {
    border: 1px solid rgba(0, 0, 0, 0.384);
}

.list .more {
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-top: 154px;
    margin-left: 5px;
    border: 1px solid rgba(143, 143, 143, 0.268);
    border-radius: 3px;
}

.more:hover {
    border: 1px solid rgba(0, 0, 0, 0.384);
}

.list .play2 {
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-top: 154px;
    margin-left: 505px;
    border-radius: 3px;
}

.list .comments {
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-top: 154px;
    margin-left: 20px;
    border-radius: 3px;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.list #play {
    font-size: 34px;
    color: white;
    background: orangered;
    display: inline-block;
    height: 17%;
    border-radius: 100%;
    margin-top: 25px;
    margin-left: 10px;
}

.menu_right .play {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

.menu_right .likes {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 25px;
    margin-top: -60px;
    border-radius: 3px;
}

.menu_right .repost {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 25px;
    margin-top: -60px;
    border-radius: 3px;
}

.menu_right .share {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 25px;
    margin-top: -60px;
    border-radius: 3px;
}

